<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="org.rmll"
	  android:installLocation="auto"
	  android:versionName="1.1"
	  android:versionCode="5"
	  >
	  <uses-permission android:name="android.permission.INTERNET" />
	  <uses-permission android:name="android.permission.VIBRATE" />
	  <supports-screens android:smallScreens="true" 
                  android:normalScreens="true" 
                  android:largeScreens="true" 
                  android:anyDensity="true" />
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19" />
	<application 
		android:icon="@drawable/icon" 
		android:label="@string/app_name"
		>
		<meta-data android:name="android.app.default_searchable"
			   android:value="org.rmll.schedules.Main" />
		<uses-library android:name="android.test.runner"/>
		<activity android:name="org.rmll.schedules.Main"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<!-- Receives the search request. -->
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<!-- Points to searchable meta data. -->
			<meta-data android:name="android.app.searchable"
					android:resource="@xml/searchable"/>
		</activity>
		<activity android:name="org.rmll.schedules.DisplayEvent"
						  android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="org.rmll.schedules.DISPLAY_EVENT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="org.rmll.schedules.TrackListActivity"/>
		<activity android:name="org.rmll.schedules.EventListActivity"/>
		<activity android:name="org.rmll.schedules.Preferences"/>

 		<receiver android:name=".broadcast.NotificationReceiver" android:exported="false">
			<intent-filter>
				<action android:name="org.rmll.action.favorites_update" />
			</intent-filter>
			<intent-filter>
				<action android:name="org.rmll.action.favorites_initial_load"/>
			</intent-filter>
			<intent-filter>
				<action android:name="org.rmll.action.favorites_alarm" />
				<data android:scheme="event" />
			</intent-filter>
		</receiver>

		<provider android:name="org.rmll.db.DBAdapter" android:authorities="org.rmll.pojo.Event"/>
		<!-- Provides search suggestions for words and their definitions. -->
		<provider android:name="org.rmll.providers.SearchProvider"
			android:authorities="rmllsearch"
			android:syncable="false" />
	</application>
	<instrumentation 
		android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="org.rmll"
		android:label="RMLL JUnit" />
</manifest> 
